.recipe-container {
  border: 1px solid;
  display: inline-flex;
  align-items: flex-start;
  margin: 10px;
  flex-direction: column;
  width: 200px;
}
.recipename-container {
  display: flex;
  margin: 0px;
  background-color: bisque;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -24px;
  margin-left: 30px;
}
.img-recipe {
  height: 200px;
  width: 200px;
  margin-bottom: 10px; /* Adjust margin between image and name */
}

.recipe-name {
  font-size: 10px;
  text-align: center;
}
