.searchbar {
  width: 740px;
  border: none;
  padding-left: 200px;
  font-size: x-large;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid;
  border-radius: 23px;
}

input:focus {
  outline: none;
}
.img-search {
  width: 200px;
  height: 200px;
}
.search-results {
  display: inline-flex;
  margin: 20px;
}
.recipe-item {
  margin: 20px;
}
